.matchmaking-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(3px);

    animation: fadeIn 1s ease-out;
    z-index: 10;
}

.matchmaking-modal {
    background: linear-gradient(145deg, #ffffff, #f1f1f1);
    padding: 5px 40px 30px 40px;
    border-radius: 16px;

    text-align: center;

    animation: popIn 0.5s ease-out;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.25),
        0 2px 6px rgba(0, 0, 0, 0.15);

    border: 1px solid rgba(0, 0, 0, 0.08);
}

.matchmaking-modal h1 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}

.matchmaking-modal h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.matchmaking-modal .dots {
    display: inline-block;
    width: 20px;
    text-align: left;
}

.matchmaking-modal button {
    margin-top: 10px;
    padding: 10px 18px;

    border: none;
    border-radius: 10px;

    background: #222;
    color: white;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.2s ease;
}

.matchmaking-modal button:hover {
    transform: translateY(-2px);
    background: #000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.matchmaking-modal button:active {
    transform: translateY(0px);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}